body {
    font-family: Arial, Helvetica, sans-serif;
    background: url(images/back18.jpg) no-repeat center center/cover;
    height: 600px;
    color: white;
}
.bigcontainer{
    width: 800px;
    margin-left: 350px;
}
.bigcontainer h2{
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
}
/* form {border: 3px solid #f1f1f1;} */

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login li a {
  background-color: #04AA6D;
  padding: 10px 20px;
  /* margin-top: 40px; */
  border: none;
  cursor: pointer;
  width: 100%;
  margin-left: 340px;
  text-decoration: none;
  font-size: 25px;
}


button:hover {
  opacity: 0.8;
}

/* .login li a {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
} */

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 15%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}