*{
    margin: 0;
    padding: 0;
}
#navbar{
    display: flex;
    align-items: center;
}
#logo{
    margin: 5px 20px;
}
#logo img{
    height: 100px;
    margin: 4px 5px;
    border-radius: 50px;
}
#navbar ul{
   display: flex;

}
#navbar ul li{
    list-style: none;
    font-size: 1.5rem;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
#navbar ul li a{
    display: block;
    color: white;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 40px;
}
#navbar ul li a:hover{
    display: block;
    background-color: rgb(72, 182, 172);
}
#navbar::before{
    content: "";
    position: absolute;
    background-color: rgba(222, 169, 69, 0.819);
    height: 100%;
    width: 100%;
    opacity: 0.9;
    z-index: -1;
    top: 0;
    left: 0;
}
#navbar{
  position:absolute;
}
#home{
    display: flex;
    flex-direction: column;
    height: 700px;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    position: absolute;
    background: url(images/back4.jpg) no-repeat center center/cover;
    height: 80%;
    width: 100%;
    opacity: 1;
    z-index: -1;
    top: 0;
    left: 0;
}
#home h1{
    font-family: 'Rubik Wet Paint', cursive;
    color: white;
    font-size: 80px;
    margin-top: -110px;
    text-align: center;
    margin-bottom: 50px;
}
#home p{
    color: white;
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin-top: 4px;
   

}
.btn{
    margin-top: 40px;
    padding: 8px;
    background-color: rgb(224, 83, 36);
    cursor: pointer;
    font-family: 'Kdam Thmor Pro', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 15px;
}
.btn:hover{
    color: black;
}

.services-container h1{
    text-align: center;
    color: rgb(227, 13, 13);
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 40px;
    margin-top: -125px;
}
.services-container{
    background-color: antiquewhite;
}
#services {
    margin: 10px;
    display: flex;
    
}
#services .box{
    border: 3px solid rgb(218, 65, 18);
    text-align: center;
    padding: 10px;
    margin: 3px 6px;
    border-radius: 30px;
}
#services .box img{
    height: 300px;
    border: 1px solid red;
    border-radius: 70px;
    
}
#about{
    background: url(images/about4.webp) no-repeat center center/cover;
    font-family: 'Kdam Thmor Pro', sans-serif;
    height: 590px;
    opacity: 1;
    margin-top: -10px;
    color: white;
    /* padding-left: 30px; */
    padding: 30px;  
}
#about img{
    width: 120px;
    height: 140px;
    padding-left: 41px;
}
#about h1{
    font-size: 30px;
}